<%- for asset in @assets -%>
	<table>
		<tr>
			<td><%= link_to image_tag(asset.public_filename(:thumb)), asset_path(asset) %></td>
			<td><%= link_to "Delete", asset_path(asset), :method => :delete %></td>
		</tr>
	</table>
<%- end -%>

<br />

<%= link_to 'New asset', new_asset_path %>
