<h1>New asset</h1>
<div id="form_div">
	<%= render :partial => 'upload_form', :object => @count%> <!-- render the upload_form partial -->
</div>

<%= link_to_remote 'Another Upload?', :action => 'new' %> | <!-- Call the new action via ajax, which will insert another form at the bottom of the div with id of 'form_div' -->

<%= link_to 'Back', assets_path %>

<script type="text/javascript">
	$(document).ready(function(){
		addChange(0); //add the onchange event to the first form when the html is ready
	});
	
	function addChange(count){//called by add_asset.js.rjs
		id = '#file' + count; //set the id of the form that was just inserted
		$(id).bind('change', function(){this.form.submit()}); // bind the onchange event of the file field to submit the form
	};

</script>
